html, body {
    background-color: #303030;
}

#banner {
    background-color: rgba(0,0,0,0);
}

.post .content {
    background-color: #05001f;
    color: #DDDDDD;
}

.syf1, .post.syf1 h1, .post.syf1 h2, .post.syf1 h3, .post.syf1 a {
    background-color: #05001f;
    color: #E71898;
}

.syf1 a, .syf1 h1, .syf1 h2, .syf1 h3, .syf1 a {
    background-color: #05001f;
    color: #E71898;
}

.syf1 p {
    color: #BBB;
    
}

#logo-trailer {
    background-color: rgba(0,0,0,0);
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.my-wrapper, .row, .element {
    display: flex;
}

.my-wrapper {
    width: 80%;
    margin: auto;
}

.element {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.element img {
    max-width: 95%;
}

.my-content {
    display: grid;
    padding: 5em;
    text-align: justify;
}

.quote {
    font-style: italic;
    border-width: 1px 0px;
    border-color: #bbb;
    border-style: solid;
    padding: 0.5em;
}

#logo {
    width: 55%;
}

#trailer {
    width: 50%;
}

.inner.half {
    display: block;
    width: 50%;
}

article {
    margin: auto;
    width: 90%;
    text-align: center;
}


.parallax {
    /* The image used */
    background-image: url("images/overlay.png"), url("../../images/syf-background.png");
  
    /* Set a specific height */
    height: 75%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

